/* components/Firework.module.css */

.firework-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.firework {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffcc00; /* Golden color */
  border-radius: 50%;
  animation: fireworkAnimation 2s linear infinite;
}

@keyframes fireworkAnimation {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(-100px) scale(1.5);
    opacity: 0.7;
  }
  100% {
    transform: translateY(-300px) scale(1);
    opacity: 0;
  }
}
